<div id="xviewpopup-main">
    <div class="message">Redirecting...</div>

#if ( $xviewpopup_params )
    #set( $startTime = ($xviewpopup_params.searchTime * 1000) - 30000 )
    #set( $endTime = ($xviewpopup_params.searchTime * 1000) + 30000 )

    <form id="frm_plugin" method="post" target="_self">
        <input type="hidden" name="txids" value="$xviewpopup_params.txId" />
        <input type="hidden" name="sid" value="$xviewpopup_params.domainId" />
        <input type="hidden" name="guid" value="$xviewpopup_params.guid" />
        <input type="hidden" name="startTime" value="$startTime" />
        <input type="hidden" name="endTime" value="$endTime" />
    </form>
#end

    <input type="hidden" name="hostName" value="$hostName" />
</div>