#xviewpopup-main {
  margin: 0;
  overflow: hidden;
  width: 1100px;
  height: 800px;
  background: #dcdcdc;
  text-align: center;
  line-height: 800px;
}

#xviewpopup-main .message {
  font-size: 33px;
}